*{
  margin: 0;
}
.dataInput{
  block-size: 4rlh;
  text-align: center;
}
#numberInput{
  margin: 1rem 0 0.5rem 0;
  min-inline-size: 15ch;
  font-weight: bolder;
  padding: 0.125rem 0;
}
.squareContent{
  box-sizing: content-box;
	block-size: calc(100vb - 5rlh);
  margin: 0 auto 1rlh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  gap: 0;
}
.lineaggr{
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;	
  gap: 0;
}
.aggregator{
  box-sizing: border-box;
  background-color: green;
}